export XDG_CONFIG_HOME="$HOME/.config"

export XMODIFIERS=@im=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export QT5_IM_MODULE=fcitx
export QT_QPA_PLATFORMTHEME=qt5ct

export LIBVA_DRIVER_NAME=iHD

export GTK_THEME=Numix:dark
export GTK2_RC_FILES=/usr/share/themes/Numix/gtk-2.0/gtkrc
