Code/
configstore/
dconf/
dleyna-renderer-service.conf
fcitx/
gconf/
gnome-boxes/
google-chrome/
goa*/
gtk*/
menus/
mimeapps.list
nautilus/
neofetch/
pulse/
smplayer/
Transmission Remote GUI/
Trolltech.conf
Typora*
yay/

